#CONFIG APPLICATION

APP_HOST = localhost
APP_PORT = 3000
NODE_ENV=development

#DB

DB_HOST=localhost
DB_PORT=3306
DB_NAME= institut_excellentia
DB_USER=root
DB_PASSWORD=
DB_DIALECT= postgres

# les clé des API 
API_KEY= 
SECRET8KEY=

#SERVICES EXTERNES 

AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY= 
AWS_REGION=

#SERVICE DE MESSAGERIE

EMAIL_HOST= 
EMAIL_PORT= 
EMAIL_USER= 
EMAIL_PASSWORD= 

#SERVICES STOCKAGE 

S3_BUCKET_NAME=
S3_ACCESS_KEY= 
S3_SECRET_KEY=

#SERVICES DE PAIEMENT 

SRTIPE_SECRET_KEY= 
PAYPAL_CLIENT_ID= 
PAYPAL_CLIENT_SECRET= 

#MONITORING & LOGGING 

LOG_LEVEL= 
NEW_RELIC_LICENCE_KEY= 

